<!DOCTYPE html>
<html>
<head>
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='auth.css') }}">
</head>
<body>
    <!-- Header -->
    <header class="header">
        <div class="logo">
            <img src="../static/images/logo.png" alt="">
            <a href="/" class="logo-text green-font">Plate</a>
            <a href="/" class="logo-text dark-blue-font">Connect</a>
        </div>
    </header>

    <!-- Login Container -->
    <div class="container">
        <h2>Reset Password</h2>
        <form method="POST">
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="new_pass" placeholder="New Password" required>
            <input type="password" name="confirm_pass" placeholder="Confirm New Password" required>
            <button type="submit">Change Password</button>
        </form>
        <a href="{{ url_for('login') }}">Back to Login</a>
    </div>
</body>
</html>